@model dynamic

@{
    ViewData["Title"] = "Thông Tin Cá Nhân";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="~/css/Profile/Profile.css">
</head>
<body>

    <div class="Profile">
        <h2>Thông Tin Cá Nhân</h2>

        @if (Model.Image != null)
        {
            <div>
                <img src="@Model.Image" alt="Ảnh đại diện" />
            </div>
        }

        <form asp-controller="Profile" asp-action="UploadImage" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" />
            <button type="submit" class="btn btn-success">Tải Ảnh Lên</button>
        </form>

        <table class="table">
            <tr><th>Họ Tên:</th><td>@Model.HoTen</td></tr>
            <tr><th>Số Điện Thoại:</th><td>@Model.SDT</td></tr>
            <tr><th>Email:</th><td>@Model.Email</td></tr>
            <tr><th>Địa Chỉ:</th><td>@Model.DiaChi</td></tr>
            <tr><th>Giới Tính:</th><td>@Model.GioiTinh</td></tr>
        </table>

        <a class="btn btn-primary" asp-controller="Auth" asp-action="Logout">Đăng Xuất</a>
    </div>


</body>
