@model IEnumerable<NhaHang.Models.Menu>
@{
    ViewData["Title"] = "Quản Lý Menu";
}

<link rel="stylesheet" href="~/css/QuanLy/QuanLyMenu.css" />
<h2>Quản lý Menu</h2>
<div class="button-wrapper">
    <a asp-action="Create" class="btn-create">Thêm món mới</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Tên món</th>
            <th>Mô tả</th>
            <th>Giá</th>
            <th>Ảnh</th>
            <th>Giảm giá</th>
            <th>Special Day</th>
            <th>Combo</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TenMon</td>
                <td>@item.MoTa</td>
                <td>@item.Gia</td>
                <td><img src="~/Menu/@item.Image" asp-append-version="true" class="menu-img" width="100" alt="@item.TenMon" /></td>
                <td>@item.GiamGia</td>
                <td>@(item.SpecialDay?.ToString("dd/MM/yyyy") ?? "-")</td>
                <td>@item.Combo</td>
                <td>
                    <div style="display: flex; justify-content: center;">
                        <form asp-action="Edit" asp-route-id="@item.Id" method="get" style="margin-right: 5px;">
                            <button type="submit" class="btn-action-circle btn-edit">
                                <i class="fas fa-edit"></i>
                            </button>
                        </form>
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Xác nhận xóa?');">
                            <button type="submit" class="btn-action-circle btn-delete">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
