@model NhaHang.Models.Menu

@{
    ViewData["Title"] = "Chi Tiết Món Ăn";
}
<link rel="stylesheet" href="~/css/NhanVienPhucVu/ChiTiet.css" />

<div class="all">

    <h2>Chi Tiết Món Ăn</h2>

    <div class="row justify-content-center all2">
        <div class="col-md-6">
            <div class="card h-100">
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <img src="~/Menu/@Model.Image" class="hinh-ten" alt="@Model.TenMon" />
                }
                else
                {
                    <img src="~/image/default.jpg" class="hinh-ten" alt="No Image" />
                }
                <div class="chitietmonan">
                    <h5 class="card-title">@Model.TenMon</h5>
                    <p class="card-text">@Model.MoTa</p>
                    <p class="card-text"><strong>@Model.Gia.ToString("N0")</strong> VND</p>


                    <a href="@Url.Action("Index", "MenuNvpv")" class="btn btn-secondary mt-3">Quay lại Menu</a>
                </div>
            </div>
        </div>
    </div>
</div>
